body{
	margin: 0;
	padding: 0;
}

.container{	
	background-image: url(https://www.ashcomtech.com/wp-content/uploads/2018/06/mountains-1412683_1280.png);
	height: 100vh;
	background-size: cover;	
}

div.nav{
	background-color: #1abc9c;
	text-align: center;
	width: 100%;
	height: 100px;
	position: fixed;
}

.nav li{
	display:inline-block;
	font-size: 30px;
	padding: 20px;
}
.nav li a{
	color: white;
	text-decoration: none;
}

.header{
	padding-top: 100px;
	text-align: center;
	height: calc(100vh - 100px);
}
.header h1{
	font-size: 45px;
}

div.section-1{
	background-color: #0B5345 ;	
	overflow: hidden;
	padding: 5px;
}

.section-1 img{
	float: left;
	height: 300px;
	margin-right: 10px;
	margin-left: 10px;
}
.section-1 p{
	color: white;
	font-size: 20px;
	text-align: left;
}
.section-1 h1{
	color: white;
	text-align: center;
}

div.section-2{
	background-color: purple;
	overflow: hidden;
}
.section-2 img{
	float: right;
	height: 300px;
	margin-right: 20px;
	padding-left: 5px;
	padding-bottom: 10px;
}
.section-2 h1{
	text-align: center;
}
.section-2 p{
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
}